{# encoding:utf-8 #}
{% extends 'base.html' %}

{% block slider %}
	<h2>Articulos</h2>
{% endblock slider %}

{% block cuerpo %}
	<div class="row">
		<div class="span10">
			<h2>Seleccion de Categorias Para el Articulo <strong>{{ contenido.titulo|upper }}</strong></h2>
		</div>		
	</div>
	<div class="row">
		<div class="span5">
			<a class="btn" href="{% url 'contenidos.views.new_categoria' contenido.id "articulo" %}" class="button">Crear Categoria</a>
		</div>
		<div class="span5">
			<a href="{% url 'articulos.views.misarticulos' %}" class="btn">Terminar</a>
		</div>
	</div>
	<div class="row">
		{% for fila in categoria %}
			<div class="span3">
				<p class="indent"><a href="{% url 'contenidos.views.add_categoria' contenido.id fila.id "articulo" %}"><i class="icon-enter"></i>{{ fila.area }}</a></p>
			</div>
		{% endfor %}
	</div>
{% endblock cuerpo %}